<%- include('partials/header') -%>

<main class="container">
<!-- Main Content Box -->
    <div class="main-content mt-5 d-flex justify-content-center">
        <div class="text-box p-5 shadow-lg">
            <p>
                Connect, inspire, and be inspired in a space where every tick resonates with meaning. Post stunning photos of your favorite watches, discover and like others’ collections, and engage with a vibrant community of watch lovers.
            </p>
            <p>
                Each watch tells a story—about milestones, memories, or craftsmanship—and here, you can share those stories while appreciating the art and history of horology.
            </p>
            <nav class="d-flex justify-content-center">
                <a href="/login" class="btn btn-primary btn-lg mx-3">Login</a>
                <a href="/signup" class="btn btn-outline-primary btn-lg mx-3">Signup</a>
            </nav>
        </div>
    </div>
</main>

<%- include('partials/footer') -%>
